.tile {
    background-color: $tileBg;
    margin: 1vw;
    text-align: center;
    .tile__links {
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            a {
                text-decoration: none;
            }
        }
    }
}
#main {
    #tile-fb {
        position: relative;
        &::before {
            @include createBorderColor($color-fb);
        }
    }
    #tile-tw {
        position: relative;
        &::before {
            @include createBorderColor($color-tw);
        }
    }
    #tile-ig {
        position: relative;
        &::before {
            @include createBorderColor($color-ig);
        }
    }
    #tile-yt {
        position: relative;
        &::before {
            @include createBorderColor($color-yt);
        }
    }
}
#overview {
    .tile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-wrap: wrap;
        img {
            justify-self: center;
            align-self: center;
        }
    }
}
@media (min-width: $largerThenLaptop) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
